<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name="com.radzdev.radzexoplayer.ExoPlayerManager"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />

        <activity
            android:name=".m3u8"
            android:exported="false" />

    </application>

</manifest>